@import url('https://fonts.googleapis.com/css2?family=NTR:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root{
    --bg-color: #020b19;
    --light-slate: #a8b2d1; 
    --light-blue: #7eb7f9;


}

body{
    background-color: var(--bg-color);
    height: 100vh;
    font-family: 'NTR', sans-serif;
}

h1 {
    color: var(--light-slate);
    font-size: 72px;
    text-align: center;
    padding-top: 40vh;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* NavBar */
nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 75vw;
}

nav .navigation{
    display: flex;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}




